$theme-colors: (
		text-color: #343741,
		primary: #000,
		secondary: #33C9FF,
		footer-bg: #ebfafe,
		light: #fff,
		lighter: #fff,
		brown: #3C2C06,
		navy-blue: #002D62,
		navy-blue-dark: #1A1C21,
		bright-green-light: #EBFAFF,
		bright-green-light-active: #99E4FF,
		bright-green-light-hover: #EBFAFF,
);

$body-bg: map_get($theme-colors, light);
$body-color: map_get($theme-colors, text-color);


$btn-color: #fff!important;
$btn-font-weight: bold;
$btn-padding-x: 29px;
$btn-padding-y: 12px;
$btn-border-radius: 36px;
$btn-border-width: 3px;
$btn-line-height: 1.5;
$enable-rounded: true;
$bs-btn-hover-bg: map_get($theme-colors, bright-green-light-active);
$modal-md: 600px;
$modal-header-padding-y: 12px;
$modal-header-padding-x: 12px;

$link-color: map-get($theme-colors, primary);
$link-decoration: none;
//$link-underline: #F1CA2E;
$link-hover-color: lighten($link-color, 10%);
$link-hover-decoration: none;


$navbar-light-color: map-get($theme-colors, secondary);
$navbar-light-hover-color: lighten(map-get($theme-colors, secondary), 15%);
$navbar-light-active-color: lighten(map-get($theme-colors, secondary), 15%);

$navbar-dark-color: map-get($theme-colors, primary);
$navbar-dark-hover-color: darken(map-get($theme-colors, primary), 20%);
$navbar-dark-active-color: darken(map-get($theme-colors, primary), 20%);

$navbar-nav-link-padding-x: 16px;
$navbar-toggler-border-radius: 8px;

$btn-close-opacity: 1;
$btn-close-color: map-get($theme-colors, text-color);

/** TYPOGRAPHY **/
$font-family-base: 'Inter', sans-serif;
$font-family-sans-serif: 'Inter', sans-serif;

$paragraph-margin-bottom: 2rem;
$hr-margin-y: 4rem;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1600px
);


$content-max-width: 1200px;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
		lg: $content-max-width,
		xl: $content-max-width
);


$align-max-widths: (
		none: map_get($grid-breakpoints, md),
		full: 100%,
		wide: $content-max-width,
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width: 1.5rem;

$enable-negative-margins: true;
$spacer: 1rem;
$spacers: (
		0: 0,
		1: $spacer * .25,
		2: $spacer * .5,
		3: $spacer,
		4: $spacer * 1.5,
		"4-5": $spacer * 2,
		5: $spacer * 4,
		6: ($spacer * 6),
		7: ($spacer * 8),
		8: ($spacer * 10),
		20: ($spacer * 20)
);

$nav-height: 125px;
$nav-item-margin-bottom: 45px;
$enable-caret: false;

$font-sizes: (
		0: 0,
		1: (100 * 0.5),
		2: (100 * 0.75),
		3: (100 * 1),
		4: (100 * 1.25),
		5: (100 * 1.5),
		6: (100 * 2),
		7: (100 * 3),
		8: (100 * 4),
);

$headings-color: map-get($theme-colors, primary);
$headings-font-weight: bold;
$font-size-base: 1rem;

$h1-font-size: 52px;
$h2-font-size: 39px;
$h3-font-size: 31px;
$h4-font-size: 25px;
$h5-font-size: 18px;
$h6-font-size: 12px;


// This will multiply the header font size when the viewport is smaller than $htag-responsive-breakpoint.
// Use a value less than 1 to make headers smaller on mobile
$htag-responsive-multiplier: 0.8;
$htag-responsive-breakpoint: md;

$input-color: map_get($theme-colors, text-color);
$input-border-width: 0;
$input-border-radius: 5px;
$input-bg: map_get($theme-colors, bright-green-light);
$input-padding-y: 12px;
$input-padding-x: 20px;
$input-font-weight: bold;
$form-label-margin-bottom: map-get($spacers, 4);
$form-label-font-weight: bold;
$form-label-font-size: 16px;

$accordion-button-active-color: map_get($theme-colors, text-color);
$accordion-bg: map_get($theme-colors, bright-green-light);
$accordion-active: map_get($theme-colors, bright-green-light);
$accordion-button-active-bg: map_get($theme-colors, bright-green-light);
$accordion-border-width: 0;
$accordion-padding-x: 32px;
$accordion-padding-y: 32px;
$accordion-icon-width: 22px;
$accordion-icon-color: map_get($theme-colors, text-color);
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path fill='#{$accordion-icon-color}' d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32v144H48c-17.7 0-32 14.3-32 32s14.3 32 32 32h144v144c0 17.7 14.3 32 32 32s32-14.3 32-32V288h144c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path fill='#{$accordion-icon-color}' d='M432 256c0 17.7-14.3 32-32 32H48c-17.7 0-32-14.3-32-32s14.3-32 32-32h352c17.7 0 32 14.3 32 32z'/></svg>");
$accordion-button-focus-box-shadow: 0 0 0 .25rem map_get($theme-colors, secondary);

$dropdown-spacer: 0;
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-link-active-bg: map_get($theme-colors, bright-green-light-hover);
$dropdown-link-hover-bg: map_get($theme-colors, bright-green-light-hover);
$dropdown-padding-y: 0;
$dropdown-item-padding-y: 18px;
$dropdown-item-padding-x: 12px;

@media (max-width: map-get($grid-breakpoints, md)) {
		.dropdown-menu{
				background-color: transparent!important;
		}

		.dropdown-menu.show{
				margin-left: 20px!important;
		}

}


$pagination-active-bg: map_get($theme-colors, primary);

$card-border-color: map_get($theme-colors, secondary);
$card-border-radius: 5px;
$card-border-width: 4px;
$card-spacer-y: 32px;
$card-spacer-x: 32px;
